@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary: #156064;
  --family-tree: #81864e;
  --emotion: #b33732;
}

$mobile: 600px;
$tablet-min: 600px;
$tablet-max: 1100px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

.container {
  width: 80%;
  margin-inline: auto;
  @include mobile {
    width: 90%;
  }
  @include tablet {
    width: 90%;
  }
}
.btn-primary {
  min-width: 72px;
  height: 36px;
  padding-inline: 1rem;
  box-sizing: content-box;
  background-color: #fff;
  color: var(--primary);
  font-weight: 500; //Not 700 anymore
  border: 3px solid var(--primary);
  border-radius: 52px;

  @include mobile {
    font-size: 16px;
    padding-inline: 20px;
    padding-block: 4px;
  }
}
.btn-primary:hover {
  cursor: pointer;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-outline {
  min-width: 72px;
  height: 36px;
  padding-inline: 1.5rem;
  //padding-block: 0.4rem;
  padding-block: 0.15rem;
  box-sizing: content-box;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 52px;
  @include mobile {
    font-size: 16px;
    padding-inline: 20px;
    padding-block: 4px;
  }
}
.btn-outline:hover {
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 173%;
  opacity: 0.6;
  @include mobile {
    font-size: 16px;
  }
}

.display {
  width: 100%;
  position: fixed;
  background-color: var(--primary);
  padding: 1rem;
  z-index: 100;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block: 2rem;
  opacity: 0.5;
  font-size: 20px;
}
