---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Family Tree - Mental Health Team | Psychotherapy for emotional distress"
  description="Family Tree is a Mental Health Team in New Delhi offering psychotherapy for emotional distress. We provide support for children, adolescents and families with emotional and relationship difficulties."
>
  <body>
    <!-- <a href="#seminars">
			<div class="display">
				<div class="container">
					At Family Tree we are offering a half day Workshop - ONLY FOR RECENT M.A GRADUATES - as an Introduction to Therapeutic Work with School Age Children (Age 6 - 11)
				</div>
			</div>
		</a> -->

    <nav class="navbar-scrolled">
      <a href="/" class="logo">
        <img src="/assets/logo-white.png" alt="" class="logo-img" />
      </a>
      <ul>
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="#prints">Publications</a>
        </li>
        <li>
          <a href="#seminars">Seminars</a>
        </li>
        <li>
          <a href="#appointments">Contact</a>
        </li>
        <li>
          <a href="emotion.html">Emotion Centre</a>
        </li>
        <!--
				<li>
					<a href="#appointments">
						<button class="btn-primary">Contact</button>
					</a>
				</li>
				-->
      </ul>
    </nav>

    <div class="navbar">
      <a href="/" class="logo">
        <img src="/assets/logo-white.png" alt="" class="mobile-logo-img" />
      </a>
      <div>
        <!-- <a href="#appointments">
					<button class="btn-outline">Contact</button>
				</a> -->
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div id="sidebar" style="width: 0%;">
      <div class="close"></div>
      <ul>
        <li class="mobile-link">
          <a href="#home">Home</a>
        </li>
        <li class="mobile-link">
          <a href="#team">Team</a>
        </li>
        <li class="mobile-link">
          <a href="#prints">Publications</a>
        </li>
        <li class="mobile-link">
          <a href="#seminars">Seminars</a>
        </li>
        <li class="mobile-link">
          <a href="emotion.html">Emotion Centre</a>
        </li>
        <!--
				<li class="mobile-link">
					<a href="#seminars">Seminars</a>
				</li>
				-->
      </ul>

      <div class="buttons">
        <a href="./adults.html">
          <button class="btn-outline">Adults</button>
        </a>
        <a href="#appointments">
          <button class="btn-outline">Child and Adolescent</button>
        </a>
      </div>
    </div>

    <header id="home">
      <div class="header-content">
        <h1>Let's talk about things that matter to you</h1>
        <p>Psychotherapy for emotional distress</p>
        <h3>Book Appointment</h3>
        <div class="buttons">
          <a href="adults.html">
            <button class="btn-outline">Adults</button>
          </a>
          <a href="#appointments">
            <button class="btn-outline">Child and Adolescent</button>
          </a>
        </div>
      </div>
    </header>

    <section class="connected container">
      <h1>We are all different but we are connected</h1>
      <div class="line"></div>
      <p>
        Chances are that you have found your way here after speaking to someone you already know.
        This is important, because it suggests that you have started the process of 'doing something
        different' and sharing a bit of what is important to you. <br /><br />
        Conversations at Family Tree tend to be about stuff that is central to us all: Feelings – whether
        consciously known or leaking out in some way, and Relationships – past and present.
        <br /><br />
        The conversations are also about ordinary, everyday events, behaviour and difficulties, which
        are part of everyone's lives but can also cause distress – big or small. If it matters to you,
        it is worth talking about.
      </p>
    </section>

    <section class="info">
      <img src="/assets/image-3-452x570.jpg" alt="" />
      <p>
        Family Tree is a Mental Health Team set up in 2018 to address the gap in such services in
        New Delhi. It is composed of Child and Adolescent Psychotherapists who work to support
        children, adolescents and families with emotional and relationship difficulties.
        <br /><br />
        It is a self-funded team based out of Safdurjung Enclave and we have seen over 500 children and
        adolescents in the last 5 years. All of our referrals are by word-of-mouth.
      </p>
    </section>

    <section class="info reverse">
      <img src="/assets/image-4-452x570.jpg" alt="" />
      <p>
        Addressing emotional matters takes courage and can take time. You may need to see us
        regularly for some weeks/months. During this time, there will be moments when you want to
        avoid the emotional hard work and therefore avoid us. Frequently, this happens by
        'forgetting' an appointment or not feeling like coming.
        <br /><br />
        We make it easy for you to remember your next appointment with us by trying to keep it at the
        same time and day every week. However, it is your responsibility to keep the appointment, since
        it is part of you taking care of yourself. Sessions at Family Tree are one hour long, unless
        otherwise discussed.
      </p>
    </section>

    <section id="team">
      <h4>The Team</h4>
      <div class="members">
        <div class="member">
          <img src="/assets/Team/nupur.jpg" alt="Nupur Paiva" />
          <h2>Nupur Paiva</h2>
          <p class="nupur-short-text" style="display: block;">
            Nupur D. Paiva is a Chartered Clinical Psychologist, Associate Fellow with the British
            Psychological Society, Child Psychotherapist and mother-of-two, all of which she has
            worked very hard at. Especially, the two children.
          </p>
          <p class="nupur-full-text" style="display: none;">
            Nupur D. Paiva is a Chartered Clinical Psychologist, Associate Fellow with the British
            Psychological Society, Child Psychotherapist and mother-of-two, all of which she has
            worked very hard at. Especially, the two children.
            <br />
            She started Family Tree: Child and Adolescent Mental Health team, in 2018 in New Delhi. She
            taught 'Infant Observation' on the Psychotherapy training course at Ambedkar University,
            Delhi from 2012-2020. She is regularly invited to write articles on emotional and mental
            health for national dailies and for discussions on conference panels. You can find a lot
            of this through a google search.
            <br />
            In 2014 she decided to train further, especially on how to work with hard-to-engage-adolescents,
            anxiety and depression in young people. She completed a certification in Intensive Short
            Term Dynamic Psychotherapy. The process of this training took five years of consistent truth-facing
            and changed her life, making her more courageous. Now she is training others to work with
            this technique. She is the author of Love & Rage: The Inner Worlds of Children, which was
            published in 2017, which is very close to her heart and has a lot of detail on what psychotherapy
            with children looks like. Along with her husband, Richard Paiva, she is a co-founder of The
            Art of Sport – a development programme for girls, using sport and group therapy.
            <br />
            For her own energy and emotional balance, she likes to dance and though her motor coordination
            does not approve, she does not let that stop her.
          </p>
          <button class="btn-outline nupur-btn">Read more</button>
        </div>
        <div class="member">
          <img src="/assets/Team/neha.jpg" alt="Neha Gupta" />
          <h2>Neha Gupta</h2>
          <p class="neha-short-text" style="display: block;">
            The first to join in 2018 was Neha Gupta when Family Tree was a wee tentative
            experiment. It was with her that we became a team. She and I. Super well-trained, Neha
            has an MSc Child & Adolescent Mental Health and Psychological Practice from The
            University of Edinburgh, UK and a BA in Psychology (Honours) from Lady Shri Ram College,
            Delhi University.
          </p>
          <p class="neha-full-text" style="display: none;">
            The first to join in 2018 was Neha Gupta when Family Tree was a wee tentative
            experiment. It was with her that we became a team. She and I. Super well-trained, Neha
            has an MSc Child & Adolescent Mental Health and Psychological Practice from The
            University of Edinburgh, UK and a BA in Psychology (Honours) from Lady Shri Ram College,
            Delhi University.
            <br />
            More than the fact that she is psychoanalytically trained at PTRC (Psychoanalytic Training
            and Research Centre), Mumbai, it is her natural empathy toward the emotional world of young
            humans that makes her an effective child psychotherapist.
            <br />
            She has worked with children and young adults for over 7 years in a variety of settings.
            She has also worked with children with special developmental needs.
            <br />
            Neha facilitates a group of girls between the ages 10-13 years at @artofsportindia too.
            <br />
            Neha's first true love has always been animals. She's a dog lover and is happy to spend the
            rest of her life being a Dog mom.
          </p>
          <button class="btn-outline neha-btn">Read more</button>
        </div>
        <div class="member">
          <img src="/assets/Team/ambika.jpg" alt="Ambika" />
          <h2>Ambika Singh</h2>
          <p class="ambika-short-text" style="display: block;">
            Ambika joined Family Tree in February 2020 and has valiantly worked online with
            adolescents throughout this lockdown. Ambika Singh is a trained Psychoanalytic
            Psychotherapist having completed her MPhil from Ambedkar University Delhi; Masters in
            Psychosocial Clinical Studies from Ambedkar University, Delhi; and a Bachelors in
            Psychology (Honours) from Lady Shri Ram College, Delhi University.
          </p>
          <p class="ambika-full-text" style="display: none;">
            Ambika joined Family Tree in February 2020 and has valiantly worked online with
            adolescents throughout this lockdown. Ambika Singh is a trained Psychoanalytic
            Psychotherapist having completed her MPhil from Ambedkar University Delhi; Masters in
            Psychosocial Clinical Studies from Ambedkar University, Delhi; and a Bachelors in
            Psychology (Honours) from Lady Shri Ram College, Delhi University.
            <br />
            She has worked in places few dare to tread - mental health centres in university settings.
            She has borne the red-tape, the senior administration who don't understand the emotional
            issues of young people, the high rates of self harm and suicidal thoughts in her clients.
            <br />
            At Family Tree we are grateful to Ambika for her experience and commitment to working on
            the darkest of real subjects - understanding 'suicidality' and its representations in the
            Indian context.
            <br />
            She is occasionally frightened of working with small kids though - and we are helping her
            get over that .
            <br />
            When she isn't working, she can be found dancing to 90s music or talking to her plants.
          </p>
          <button class="btn-outline ambika-btn">Read more</button>
        </div>
        <div class="member">
          <img src="/assets/Team/shweta.jpg" alt="Shweta Dharamdasani" />
          <h2>Shweta Dharamdasani</h2>
          <p class="shweta-short-text" style="display: block;">
            Shweta Dharamdasani is a psychoanalytically oriented psychotherapist with an MPhil from
            Ambedkar University, Delhi. She is a researcher and writer, committed to depth thinking
            and learning. Her area of interest is in how culture and psyche influence each other.
          </p>
          <p class="shweta-full-text" style="display: none;">
            Shweta Dharamdasani is a psychoanalytically oriented psychotherapist with an MPhil from
            Ambedkar University, Delhi. She is a researcher and writer, committed to depth thinking
            and learning. Her area of interest is in how culture and psyche influence each other.
            <br />
            Shweta has also been trained at Antarnaad foundation, Ahmadabad for a year and is a RCI certified
            Rehabilitation Psychologist, all of which makes her a highly prized clinician.
            <br />
            Shweta finds it very easy to connect with children and happily joins in the fitness group
            activities while she facilitates a group at @artofsportindia which she is missing terribly
            during the lockdown even though it is now online.
            <br />
            Recently she has also been working towards building a vocabulary for doing psychoanalysis
            in Hindi - an attempt to take psychoanalysis beyond the clinic and the elite, thereby making
            it more accessible.
            <br />
            Much like the children she works with through play and stories, Shweta enjoys craft activities-making
            things out of waste material and scrap. What we appreciate the most though is what she makes
            out of the distress, anxiety and silence that she works with in her young clients.
          </p>
          <button class="btn-outline shweta-btn">Read more</button>
        </div>
      </div>
    </section>

    <!--Prints -->

    <section id="prints">
      <h4>Newspaper Prints</h4>
      <div class="prints">
        <a href="/prints/one.html" target="_blank"><div class="paper one"></div></a>
        <a href="/prints/two.html" target="_blank"><div class="paper two"></div></a>
        <a href="/prints/three.html" target="_blank"><div class="paper three"></div></a>
        <a href="/prints/four.html" target="_blank"><div class="paper four"></div></a>
        <a href="/prints/five.html" target="_blank"><div class="paper seven"></div></a>
      </div>
    </section>

    <!-- Books -->

    <section id="bookid" class="book-container container">
      <div class="book">
        <img src="/assets/book.jpg" alt="" />
      </div>
      <div class="content">
        <h1>Love and Rage</h1>
        <p>
          Love & Rage is a book about children, both the child in those of us who are
          chronologically adult, as well as the children we may be interacting with. It takes a
          reader for a journey into their inner world of intense, raging emotions which often goes
          unheeded by the outside adult world. With the trained ear of a child psychotherapist, the
          author listens to children's stories as they emerge in her consulting room, through word
          and play, and translates them for adults.
          <br /><br />
          Supported by the author's own personal associations and a bedrock of psychodynamic theory,
          the book throws light on what comes into a psychotherapist's consulting room, and demonstrates
          that it is not unusual, bizarre or crazy. Instead, it is the ordinary stuff of everyday life,
          taking place in every family. That sometimes we all carry the pain of complex feelings within
          ourselves for all of our lives—love and rage towards the people we are closest to.
          <br /><br />
          This book is essential reading for anyone close to children—parents and parents-to-be, teachers,
          school counsellors—but also for anyone looking to attend to the child within them.
        </p>
        <a
          href="https://www.amazon.in/Love-Rage-Inner-Worlds-Children/dp/9382579303"
          target="_blank"
        >
          <button class="btn-outline">Buy Book</button>
        </a>
      </div>
    </section>
    <section class="book-container container">
      <div class="book">
        <img src="/assets/book-2.jpg" alt="" />
      </div>
      <div class="content">
        <h1>Interruptions in Identity: Engaging with Suicidality among the Indian Youth</h1>
        <p>
          Interruptions in Identity: Engaging with Suicidality among the Indian Youth explores the
          shift in the author's perspective from an understanding of 'suicide' to an exploration of
          suicidality. The shift came organically from her experience of working in a university
          clinic and interacting with individuals who had communicated to her the presence of
          'suicidal thoughts' during their sessions. The work is also an examination of how studying
          a tendency towards committing suicide is necessarily an attempt to understand the complex
          interplay of the personal and the social which often leads to that tendency described as
          suicidality. The work turns a psychosocial lens and further elaborates on how suicidality
          expresses itself in the space between the subject and the therapist within the safe space
          of a clinic. In taking us through these narratives, the author builds a case that it is
          important to reflect not just on the nature of individual suffering but also its
          interaction with the prevalent and relevant socio-political forces
        </p>
        <a href="https://amzn.eu/d/fTWDnwv" target="_blank">
          <button class="btn-outline">Buy Book</button>
        </a>
      </div>
    </section>

    <!--PUBLICATIONS -->

    <section id="publications">
      <h4>Academic Papers</h4>
      <div class="articles">
        <div class="article">
          <!--<img src="/assets/covid.jpg" alt="">-->
          <a href="http://dx.doi.org/10.1080/13698036.2014.892728" target="_blank"
            ><h3>Who observes whom? Infant observation observed</h3></a
          >
        </div>
        <div class="article">
          <!--<img src="/assets/seminars/adolescent.png" alt="">-->
          <a href="http://dx.doi.org/10.1080/0075417X.2016.1191199" target="_blank"
            ><h3>Keeping fathers in mind</h3></a
          >
        </div>
        <div class="article">
          <!--<img src="/assets/seminars/therapy.png" alt="">-->
          <a href="https://doi.org/10.1080/0075417X.2021.1900331" target="_blank"
            ><h3>Psychotherapy with no body in the room</h3></a
          >
        </div>
        <div class="article">
          <!--<img src="/assets/seminars/reality.png" alt="">-->
          <a href="https://doi.org/10.1080/13698036.2021.1953395" target="_blank"
            ><h3>Envy in the gaze</h3></a
          >
        </div>
        <div class="article">
          <!--<img src="/assets/seminars/reality.png" alt="">-->
          <a href="/" target="_blank"><h3>Play: Seeing Children's Inner Worlds</h3></a>
        </div>
        <div class="article">
          <!--<img src="/assets/seminars/reality.png" alt="">-->
          <a href="/" target="_blank"
            ><h3>
              Living in the times of pandemic: <br />
              Re Living and remembering loss and trauma
            </h3></a
          >
        </div>
      </div>
      <!--
			<a href="">
				<h1>Child Executive Control as a Moderator of the Longitudinal Association Between Sleep Problems and Subsequent Attention-Deficit/Hyperactivity Disorder Symptoms</h1>
			</a>
			
			<h4 class="nupur">Nupur D Paiva</h4>
			-->
      <a href="#appointments">
        <button class="btn-outline">Contact for Full Access</button>
      </a>
    </section>

    <section id="seminars">
      <h4>Trainings and Seminars</h4>
      <!-- <h1>Our previous seminar conducted in 2020 named as 'Fundamentals Of' which covers various fundamental topics of mental health</h1> -->
      <div class="articles">
        <div class="article active">
          <img src="/assets/seminars/wdg24cover.png" alt="" />
          <a
            href="https://drive.google.com/file/d/1L6YDrwkI8-9Y1Le7pLNX7ktrqL0kc0fA/view?usp=sharing"
            target="_blank"
            ><h3>
              Work Discussion Group: Case Discussion to Make Psychotherapeutic Interventions
              Effective
            </h3></a
          >
          <div class="active">Active | 2nd May, 2024 Onwards</div>
        </div>
        <div class="article">
          <img src="/assets/seminars/workshop.jpg" alt="" />
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeh3u-y3wKIJs2sbGRDUWjYq7flaYjddObtoamGj4flIKTUuA/viewform"
            target="_blank"
            ><h3>Introduction to Therapeutic Work with School Age Children (Age 6 - 11)</h3></a
          >
        </div>
        <div class="article">
          <img src="/assets/seminars/anxiety.jpg" alt="" />
          <a href=""><h3>Fundamentals of Working With Anxiety</h3></a>
        </div>
        <div class="article">
          <img src="/assets/seminars/adolesecents-tft.jpeg" alt="" />
          <a href=""><h3>Fundamentals of Adolescent Mental Health</h3></a>
        </div>
      </div>

      <h4 class="white">To be a part of such seminars and trainings contact us below</h4>
      <a href="#appointments">
        <button class="btn-outline">Contact Us</button>
      </a>
    </section>

    <section id="emotion"></section>

    <section id="workspace">
      <h4>Our Workspace</h4>
      <div class="gallery">
        <div class="img one"></div>
        <div class="img two"></div>
        <div class="img three"></div>
      </div>
    </section>

    <section id="appointments">
      <h1>Book an Appointment</h1>
      <div class="text-info" class="container">
        <p>
          Our charges are INR 3500 an hour. If this is difficult for you to afford, please bring it
          up with your psychotherapist. When we book an appointment with you, we keep that hour
          aside for you. If you cannot make it for some reason, please let us know at least 48 hours
          in advance so we can offer the time to someone who is waiting for an appointment.
        </p>
        <p>
          We charge for missed appointments and cancellations under 48 hrs. We understand that what
          you are doing takes courage. We work hard to keep your personal story confidential and do
          our best to make you feel safe.
        </p>
      </div>

      <div class="form-row">
        <div class="form-area">
          <form name="contact" method="post" data-netlify="true">
            <h3>Enquiry for an appointment</h3>
            <input type="hidden" name="subject" value="New lead from Child and Adolescents page" />
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Your Full Name"
              required
              class="full-length"
            />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email Address"
              required
              class="full-length"
            />

            <fieldset>
              <div class="one-row">
                <div class="checkbox-container">
                  <label class="checkbox"
                    >Appointment
                    <input type="checkbox" name="options" checked="checked" value="Appointment" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="checkbox-container">
                  <label class="checkbox"
                    >Training/Seminar
                    <input type="checkbox" name="options" value="Training/Seminar" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="checkbox-container">
                <label class="checkbox"
                  >Supervision
                  <input type="checkbox" name="options" value="Supervision" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </fieldset>

            <textarea
              name="message"
              id="message"
              cols="30"
              rows="6"
              placeholder="Your Message"
              required></textarea>
            <button type="submit" class="btn-primary">Send Enquiry</button>
          </form>
        </div>
        <div class="img-area">
          <img src="/assets/appointments-new.jpeg" alt="" />
        </div>
      </div>
    </section>

    <section id="footer">
      <a href="#home">
        <img src="/assets/logo-white.png" alt="" />
      </a>
      <h3>
        Mental Health Team <br />
        Tuesday–Saturday by appointment <br />
        B5/28, GF, Safdurjung enclave, New Delhi | +91-11-26107477
      </h3>

      <a href="https://instagram.com/familytree.camhs" target="_blank">
        <img src="/assets/insta-icon.png" alt="" width="56px" />
      </a>
    </section>

    <script src="script.js" defer async></script>
  </body>
</Layout>
